body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
i {
  color: #4d4d4d;
}

.cardx{
  padding-top: 150px;
}
.card{
  padding-top: 20px;
}

.img-circle {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
/*
#ex1Slider .slider-selection {
  background: #BABABA;
}

*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.br {
  position: relative;
  text-align: center;
  color: white;
}


.plus-minus-input {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
imgg {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}
